# Copyright (c) 2017, NXP
# SPDX-License-Identifier: Apache-2.0

config SERIAL_INIT_PRIORITY
	default 55
	depends on SERIAL

config FLASH_MCUX_FLEXSPI_XIP
	bool "MCUX FlexSPI flash access with xip"
	default y
	depends on MEMC_MCUX_FLEXSPI
	depends on (CODE_FLEXSPI || CODE_FLEXSPI2 || SOC_SERIES_IMX_RT6XX)
	select XIP
	help
	  Allows using the flash API while running in XIP.
	  WARNING: It is possible to overwrite the running application itself.

source "soc/arm/nxp_imx/*/Kconfig.defconfig.series"
